body {
	background: #aaa;
	font-family: 'AvenirLTBook';
	font-size: 16px;
	padding: 0;
	margin: 0;
}
img { float: left }
#bgImage {
	width: 100%;
}
#mailto {
	width: 31%;
	margin-left: 23.5%;
	margin-top: -35.5%;
}
#play_video {
	width: 12.7%;
	margin-left: 73.6%;
	margin-top: -713%;
}
