body {
	background: #aaa;
	font-family: 'AvenirLTBook';
	font-size: 16px;
	padding: 0;
	margin: 0;
	width: 320px;
}
#sheet {
	width: 100%;
	margin: auto;
	background: #ececec;
}
#map_canvas {
	height: 365px;
	width: 100%;
}
#map_canvas label { width: auto; display: inline; }
#map_canvas img { max-width: none; }

#slider {
	height: 610px;
}

.box {
	background: #1c1c1b;
	padding: 44px;
	float: left;
	text-align: justify;
}
p {
	padding-top: 0px;
	margin-top: 0px;
}

.what {
	display: none;
}

#main_menu {
	z-index: 2;
	position: fixed;
	top: 0;
	float: left;
	width:320px;
	height: 100px;
	background: #3f3f33;
	padding: 10px;
	box-sizing: border-box;
}

div.control {
	float: right;
	padding: 5px; 
	z-index: 0; 
}
div.control .box {
	background-color: rgb(28, 28, 27); 
	color: white; 
	border-style: solid; 
	border-width: 2px; 
	cursor: pointer; 
	text-align: center; 
	height: 28px; 
	padding: 0px;
	float: right;
}
div.control a {
	text-decoration: none;
}
div.control .box .link {
	font-family: TungstenMedium, Arial, sans-serif; 
	font-size: 25px; 
	padding-left: 2px; 
	padding-right: 2px; 
	color: white; 
}

div.control .box.highlight {
	background-color: #2c4390;
	color: #ffec00;
}

.anchor {
	height: 100px;
	width: 100%;
	float: left;
	margin-top: -100px;
}

h1 { text-transform: uppercase; }

div.about {
	width: 100%;
}
div.about h1 {
	font-family: 'TungstenMedium';
	background: #1c1c1b;
	color: white;
	font-size: 40px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 0px;
}
div.about ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 100%;
}
div.about ul li {
	list-style: none;
	padding: 0px 8px;
	text-align: left;
}
div.about ul li a {
	font-family: 'TungstenMedium';
	font-weight: normal;
	font-size: 60px;
	line-height: 95px;
	color: rgb(28, 28, 27); 
	text-decoration: none;
	text-transform: uppercase;
}
div.about ul li a strong {
	font-family: 'TungstenBold';
	font-size: 50px;
	font-weight: normal;
}
