body {
    height: 100%;
    overflow: hidden;
    background: #888;
}
div {
    width: 6975px;
    position: absolute;
    bottom: 0;
}
#road {
    background: #222;
    height: 150px;
    z-index: 10;
}
#roadline {
    background: #222;
    height: 20px;
    bottom: 100px;
    border-top: 10px dashed #fff;
    z-index: 15;
}
#mountains {
    background: url("../img/skyline_mountains.png") repeat-x;
    height: 100%;
    bottom: 10px;
    z-index: 5;
    background-position: left bottom;
}
#xavi {
    position: fixed;
    background: transparent url(../img/moto.png) no-repeat;
    width: 192px;
    height: 245px;
    left: 200px;
    z-index: 20;
    -webkit-transform: translate3d(0,0,0);  /* fix for Safari z-index quirk */
}

div#speechBubble {
    bottom: 265px;
    margin-left: 30px;
    display: none;
    background: transparent url(../img/speechbubble.png) no-repeat bottom left;
    padding: 15px 15px 50px 15px;
    width: 250px;
    color: #fff;
    line-height: 1.5;
    text-align: justify;
    -webkit-transform: translate3d(0,0,0);
}
div#speechBubble div {
    border-right: 1px solid white;
    float: left;
    margin-right: 4%;
    padding-right: 4%;
    position: relative;
    width: initial;
}
div#speechBubble h1 {
    margin: 0;
    font-size: 20px;
    text-align: right;
}
div#speechBubble a {
    color: #aaa;
    font-weight: bold;
    text-decoration: none;
    float: right;
    text-align: center;
    width: 100%;
}
div#speechBubble a:hover {
    color: white;
}
div.milestone {
    bottom: 145px;
    margin-left: 100px;
    text-align: center;
    width: 70px;
    -webkit-transform: translate3d(0,0,0);
    z-index: 6;
}
div.milestone div {
    position: relative;
    width: inherit;
}
div.milestone .signalTop {
    background-color: blue;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 4px 0 2px;
}
div.milestone .signalBot {
    background-color: white;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 20px;
    font-family: 'TungstenMedium';
    padding: 2px 0;
}
div.milestone .signalStick {
    background-color: #2a2a2a;
    margin: 0 auto;
    height: 60px;
    width: 10px;
}
