body {
    height: 100%;
    overflow: hidden;
    padding: 0;
}
div {
    width: 6975px;
    position: absolute;
    bottom: 0;
}
#road {
    background: #222;
    height: 150px;
    z-index: 10;
}
#roadline {
    background: #222;
    height: 20px;
    bottom: 100px;
    border-top: 10px dashed #fff;
    z-index: 15;
}
#mountains {
    background: url("../img/skyline_mountains.png") repeat-x;
    height: 100%;
    bottom: 10px;
    z-index: 5;
    background-position: left bottom;
}
#xavi {
    position: fixed;
    background: transparent url(../img/moto.png) no-repeat;
    width: 192px;
    height: 245px;
    left: 200px;
    z-index: 20;
    -webkit-transform: translate3d(0,0,0);
}
div#speechBubble {
    bottom: 265px;
    margin-left: 30px;
    display: none;
    background: transparent url(../img/speechbubble.png) no-repeat bottom left;
    padding: 15px 15px 50px 15px;
    width: 250px;
    color: #fff;
    line-height: 1.5;
    text-align: justify;
    -webkit-transform: translate3d(0,0,0);
}
div#speechBubble div {
    border-right: 1px solid white;
    float: left;
    margin-right: 4%;
    padding-right: 4%;
    position: relative;
    width: initial;
}
div#speechBubble h1 {
    margin: 0;
    font-size: 20px;
    text-align: right;
}
div#speechBubble a {
    color: #aaa;
    font-weight: bold;
    text-decoration: none;
    float: right;
    text-align: center;
    width: 100%;
}
div#speechBubble a:hover {
    color: white;
}
div.milestone {
    bottom: 145px;
    margin-left: 100px;
    text-align: center;
    width: 70px;
    -webkit-transform: translate3d(0,0,0);
    z-index: 6;
}
div.milestone div {
    position: relative;
    width: inherit;
}
div.milestone .signalTop {
    background-color: blue;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 4px 0 2px;
}
div.milestone .signalBot {
    background-color: white;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 20px;
    font-family: 'TungstenMedium';
    padding: 2px 0;
}
div.milestone .signalStick {
    background-color: #2a2a2a;
    margin: 0 auto;
    height: 60px;
    width: 10px;
}
.background {
    width: 100%;
    height: 100%;
    text-align: center;
}
.background_front {
    position: fixed;
    width: 100%;
    left: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-size: cover;
}
.gradient {
    bottom: 150px;
    height: 300px;
    background: rgba(38, 72, 150, 0);
    background: -moz-linear-gradient(top,  rgba(38,72,150,0) 0%, rgba(38,72,150,1) 75%, rgba(38,72,150,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,72,150,0)), color-stop(75%,rgba(38,72,150,1)), color-stop(100%,rgba(38,72,150,1)));
    background: -webkit-linear-gradient(top,  rgba(38,72,150,0) 0%,rgba(38,72,150,1) 75%,rgba(38,72,150,1) 100%);
    background: -o-linear-gradient(top,  rgba(38,72,150,0) 0%,rgba(38,72,150,1) 75%,rgba(38,72,150,1) 100%);
    background: -ms-linear-gradient(top,  rgba(38,72,150,0) 0%,rgba(38,72,150,1) 75%,rgba(38,72,150,1) 100%);
    background: linear-gradient(to bottom,  rgba(38,72,150,0) 0%,rgba(38,72,150,1) 75%,rgba(38,72,150,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00264896', endColorstr='#264896',GradientType=0 );
}
.header_roadmap {
    bottom: initial;
    width: 100%;
    position: fixed;
    text-align: center;
    padding: 20px 0;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    z-index: 6;
}
