body {
	background: #aaa;
}
#sheet {
	width: 1200px;
	margin: auto;
	background: #ececec;
}
#map_canvas {
	height: 365px;
	width: 1200px;
}
#map_canvas label { width: auto; display: inline; }
#map_canvas img { max-width: none; }

#slider {
	height: 610px;
}

#menu {
	height: 154px;
	width: 100%;
	background: #1c1c1b;
}
