body {
	background: #2e2e2e;
	font-family: 'AvenirLTBook';
	font-size: 16px;
	padding-top: 25px;
	text-align: left;
}
h1, h2 {
	font-family: 'TungstenMedium';
	margin-left: 20px;
	border-bottom: 0px;
}
h1 {
	margin-top: 20px;
}
h2 {
	margin-bottom: 0px;
}
#footer h1 {
	margin-left: 0px;
}
#sheet {
	width: 1200px;
	height: 2150px;
	margin: auto;
	background: #ececec;
	margin-bottom: 100px;
}
#map_cover {
	height: 365px;
	width: 1200px;
	background: black;
	margin-top: -365px;
	position: absolute;
}
#map_canvas {
	height: 365px;
	width: 1200px;
}
#map_canvas label { width: auto; display: inline; }
#map_canvas img { max-width: none; }

#slider {
	background: black;
	height: 610px;
}

#menu {
	height: 154px;
	width: 100%;
	background: #1c1c1b;
}
#menu ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 100%;
}
#menu ul li {
	display: inline;
	list-style: none;
	padding: 0px 16px;
}
#menu ul li a {
	font-family: 'TungstenMedium';
	font-weight: normal;
	font-size: 120px;
	line-height: 190px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
#menu ul li a strong {
	font-family: 'TungstenBold';
	font-size: 100px;
	font-weight: normal;
}

.box {
	background: #1c1c1b;
	padding: 44px;
	float: left;
	color: white;
	text-align: justify;
	font-size: 30px;
	text-align: left;
}
.box .left {
	float: left;
}
.box .right {
	float: right;
	width: 400px;
}

.box.what {
	width: 772px;
	height: 415px;
	margin-left: 300px;
}
.box.why {
	width: 772px;
	height: 490px;
	margin-left: 131px;
	margin-top: -450px;
}
.box.who {
	width: 627px;
	height: 390px;
	margin-left: 300px;
}
.box.where {
	width: 552px;
	height: 280px;
	margin-left: 296px;
	margin-top: -300px;
}
.box.how {
	width: 690px;
	height: 415px;
	margin-left: 135px;
	margin-top: -340px;
}

p {
	padding-top: 0px;
	margin-top: 0px;
}

.line, .box {
	display: none;
}

#videos, #photos {
	display: none;
}

#contact {
	background-color: white; 
	display: none;
	position: fixed;
	width: 600px;
	z-index: 1049;
	top: 70px;
}

#contact .paypal {
	text-align: center;
	margin: 0px 30px 30px 30px;
}

#contact p {
	margin: 0px 30px 16px 30px; 
	font-size: 16px;
	text-align: center;
}

#contact ul img {
	width: 40px;
}

#contact ul span {
	position: relative;
	top: -13px;
	margin: 5px;
}

form[name="contact"] {
	background: red;
	width: 440px;
	height: 230px;
	padding: 20px 5px;
	background-color: #1c1c1b;
	color: white;
	border-style: solid;
	border-width: 2px;
	float: right;
	margin-right: 25px;
}

.center {
	margin: 0 auto;
	width: 100%;
}

.content {
	position: relative;
	width: 600px;
}

#collaborate_button {
	cursor: pointer;
}

.donateImg {
	position: relative;
	width: 200px;
	z-index: 2;
	float: left;
	margin-top: -245px;
	margin-left: 10px;
}

ul {
	list-style-type: none;
}

ul li {
	text-decoration: none;
}

#formContact {
	position: relative;
	margin-top: 30px;
	height: 320px;
}

.formLine {
	float: left;
	width: 100%;
}

.formLine input {
	border: 1px solid black;
	margin-bottom: 10px;
}

.formLine textarea {
	border: 1px solid black;
	width: 300px;
	height: 100px;
	margin-bottom: 10px;
}

.formLine span {
	float: left;
	margin-right: 10px;
	text-align: right;
	width: 100px;
}

#black-background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: black;
	opacity: 0.8;	
	cursor: pointer;
	display: none;
}

#previewPhoto {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1050;
	overflow: auto;
	margin: -250px 0 0 -280px;
	padding: 20px;
	display: none;
}
#previewPhoto div {
	float: left;
	padding: 20px;
}
#previewPhoto .right, #previewPhoto .left {
	width: 100px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 1);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 1);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	cursor: pointer;
}
#previewPhoto .right {
	background: url('../img/next.png') no-repeat center center;
	background-color: rgba(0, 0, 0, 0.6);
}
#previewPhoto .left {
	background: url('../img/prev.png') no-repeat center center;
	background-color: rgba(0, 0, 0, 0.6);
}
#previewPhoto .left:hover, #previewPhoto .right:hover {
	opacity: 0.5;
}

#previewVideo {
	position: fixed;
	top: 100px;
	z-index: 1050;
	display: none;
}
#previewVideo div {
	float: left;
	padding: 20px;
}
#previewVideo .right, #previewVideo .left {
	width: 100px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 1);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 1);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	cursor: pointer;
	height: 300px;
}
#previewVideo .right {
	background: url('../img/next.png') no-repeat center center;
	background-color: rgba(0, 0, 0, 0.6);
}
#previewVideo .left {
	background: url('../img/prev.png') no-repeat center center;
	background-color: rgba(0, 0, 0, 0.6);
}
#previewVideo .left:hover, #previewVideo .right:hover {
	opacity: 0.5;
}
#previewVideo .theVideo {
	width: 420px;
}

#countdown_dashboard {
	margin: auto;
	width: 465px;
	height: 300px;
}

#footer {
	width: 100%;
	font-size: 12px;
}
@-webkit-keyframes mountains {
	0% {
		background-position-x: 2980px;
	}
	100% {
		background-position-x: 0px;
	}
}
@-webkit-keyframes road {
	0% {
		background-position-x: 24px;
	}
	100% {
		background-position-x: 0px;
	}
}
#footer .mountains {
	background: url('../img/skyline_mountains.png') repeat;
	height: 245px;
	width: 100%;
	-webkit-animation: mountains 250s infinite linear;
}
#footer .things {
	background: url('../img/skyline_zings.png') repeat;
	height: 245px;
	width: 100%;
	margin-top: -245px;
	-webkit-animation: mountains 100s infinite linear;
}
#footer .road {
	background: url('../img/skyline_road.png') repeat;
	height: 245px;
	width: 100%;
	margin-top: -245px;
	-webkit-animation: road 2s infinite linear;
}
#footer .moto {
	background: url('../img/skyline_bike.png') no-repeat;
	height: 245px;
	width: 100%;
	margin-top: -245px;
}
#footer .ground {
	height: 400px;
	width: 100%;
	width: 1200px;
	margin: auto;
	color: white;
}
#footer .ground img {
	margin-left: 10px;
}
#footer .ground .block {
	width: 400px;
	float: left;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
