body {
	background: #aaa;
	font-family: 'AvenirLTBook';
	font-size: 16px;
	padding-top: 25px;
}
#sheet {
	width: 1200px;
	height: 2700px;
	margin: auto;
	background: #ececec;
}
#map_cover {
	height: 365px;
	width: 1200px;
	background: black;
	margin-top: -365px;
	position: absolute;
}
#map_canvas {
	height: 365px;
	width: 1200px;
}
#map_canvas label { width: auto; display: inline; }
#map_canvas img { max-width: none; }

#slider {
	background: black;
	height: 610px;
}

#menu {
	height: 154px;
	width: 100%;
	background: #1c1c1b;
}
#menu ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 100%;
}
#menu ul li {
	display: inline;
	list-style: none;
	padding: 0px 16px;
}
#menu ul li a {
	font-family: 'TungstenMedium';
	font-weight: normal;
	font-size: 120px;
	line-height: 190px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
#menu ul li a strong {
	font-family: 'TungstenBold';
	font-size: 100px;
	font-weight: normal;
}

.box {
	background: #1c1c1b;
	padding: 44px;
	float: left;
	color: white;
	text-align: justify;
	font-size: 30px;
	text-align: left;
}
.box .left {
	float: left;
}
.box .right {
	float: right;
	width: 400px;
}

.box.what {
	width: 772px;
	height: 415px;
	margin-left: 300px;
}
.box.why {
	width: 772px;
	height: 490px;
	margin-left: 131px;
	margin-top: -450px;
}
.box.who {
	width: 627px;
	height: 390px;
	margin-left: 300px;
}
.box.where {
	width: 552px;
	height: 280px;
	margin-left: 296px;
	margin-top: -300px;
}
.box.how {
	width: 690px;
	height: 415px;
	margin-left: 135px;
	margin-top: -340px;
}

p {
	padding-top: 0px;
	margin-top: 0px;
}

.line, .box {
	display: none;
}

#videos {
	display: none;
}

.center {
	margin: 0 auto;
	width: 100%;
}

#paypal {
	text-align: center;
}
